{% extends 'szablon.html' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
    </style>
</head>
<body>
   {% block wizyta %}
    {% if wizyta_user %}
   <center>  <h1> {{wizyta_user.lekarz_id}} - {{wizyta_user.imie}} {{wizyta_user.nazwisko}} </h1>

    {% else %}
    <p> Nie ma wizyty o takim id</p>
    {% endif %}
    {% endblock wizyta %}


</body>
</html>